<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu - HCMUT SSO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_server.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
</head>

<body>

    <div class="form-container">
        <div class="logo-header">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="HCMUT Logo" class="logo">
            <div class="logo-text">
                <strong>HCMUT SSO</strong>
                <span>by OIDC</span>
            </div>
        </div>

        <h2 class="form-title">Quên mật khẩu</h2>

        <p class="form-description">
            Vui lòng nhập E-mail của bạn. Chúng tôi sẽ gửi một liên kết để đặt lại mật khẩu.

        </p>

        <form action="#" method="POST">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>

            <button type="submit" class="btn-submit">Gửi liên kết</button>
        </form>

        <div class="form-footer">
            <a href="{{ url_for('login_page_sso') }}">Quay lại trang Đăng nhập</a>
        </div>
    </div>

     <script>

        window.STATIC_IMAGE_URL = "{{ url_for('static', filename='images') }}/";
    </script>
    
    <script src="{{ url_for('static', filename='script_server.js') }}"></script>

</body>

</html>